body {
    background: linear-gradient(to right, #e0f0ff, #c2e0ff);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}


.main {
    padding: 30px;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.chart-box {
    background: #ffffff;
    width: 320px;            
    height: 320px;            
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    transition: 0.3s ease;
}

.chart-box:hover {
    transform: translateY(-5px);
}


.chart-box h3 {
    margin-bottom: 20px;
    color: #0d47a1; 
    font-weight: 600;
    font-size: 20px;
}


#categoryChart {
    width: 250px !important;  
    height: 250px !important;
    display: block;
    margin: 0 auto;           
}


.no-data {
    color: #555;
    font-size: 15px;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .main {
        padding: 20px;
    }

    .chart-box {
        width: 90%;
        height: 90vw;   
    }

    #categoryChart {
        width: 80%;
        height: 80%;
    }
}